WCF2/WcfClient/Connected Services/ServiceReference1/Lebiedowska2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10069/Lebiedowska?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:10069/Lebiedowska?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" />
  <xs:element name="getStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nazwa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="getStreamResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="GetImageByIdResult" nillable="true" type="q2:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImageToList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="image" nillable="true" type="q3:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImageToListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveImageToList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveImageToListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="GetImageListResult" nillable="true" type="q4:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>