WCF2/WcfClient/Connected Services/ServiceReference1/MojStrumien.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10069/Lebiedowska?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10069/Lebiedowska?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10069/Lebiedowska?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:10069/Lebiedowska?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getStream_InputMessage">
    <wsdl:part name="parameters" element="tns:getStream" />
  </wsdl:message>
  <wsdl:message name="IService1_getStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImageById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddImageToList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImageToList" />
  </wsdl:message>
  <wsdl:message name="IService1_AddImageToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImageToListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveImageToList_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveImageToList" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveImageToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveImageToListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImageList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImageList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getStream" message="tns:IService1_getStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getStreamResponse" message="tns:IService1_getStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImageById" message="tns:IService1_GetImageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageByIdResponse" message="tns:IService1_GetImageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddImageToList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddImageToList" message="tns:IService1_AddImageToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddImageToListResponse" message="tns:IService1_AddImageToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveImageToList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveImageToList" message="tns:IService1_RemoveImageToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveImageToListResponse" message="tns:IService1_RemoveImageToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImageList" message="tns:IService1_GetImageList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageListResponse" message="tns:IService1_GetImageList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStream">
      <soap:operation soapAction="http://tempuri.org/IService1/getStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImageToList">
      <soap:operation soapAction="http://tempuri.org/IService1/AddImageToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveImageToList">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveImageToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:10069/Lebiedowska" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>