WCF1/WcfClient/Connected Services/ServiceReference2/Lebiedowska1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="oper112">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f" type="xs:float" />
        <xs:element minOccurs="0" name="i" type="xs:long" />
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="oper112Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oper112Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>